= render 'groups/settings/export', group: @group

.sub-section
  %h4.warning-title= s_('GroupSettings|Change group URL')
  = form_for @group, html: { multipart: true, class: 'gl-show-field-errors' }, authenticity_token: true do |f|
    = form_errors(@group)
    .form-group
      %p
        = s_('GroupSettings|Changing group URL can have unintended side effects.')
        = succeed '.' do
          = link_to _('Learn more'), help_page_path('user/group/index', anchor: 'changing-a-groups-path'), target: '_blank'

      .input-group.gl-field-error-anchor
        .group-root-path.input-group-prepend.has-tooltip{ title: group_path(@group), :'data-placement' => 'bottom' }
          .input-group-text
            %span>= root_url
            - if @group.parent
              %strong= @group.parent.full_path + '/'
        = f.hidden_field :parent_id
        = f.text_field :path, placeholder: 'open-source', class: 'form-control',
          autofocus: local_assigns[:autofocus] || false, required: true,
          pattern: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
          title: s_('GroupSettings|Please choose a group URL with no special characters.'),
          "data-bind-in" => "#{'create_chat_team' if Gitlab.config.mattermost.enabled}"
    = f.submit s_('GroupSettings|Change group URL'), class: 'btn gl-button btn-warning'

.sub-section
  %h4.warning-title= s_('GroupSettings|Transfer group')
  = form_for @group, url: transfer_group_path(@group), method: :put, html: { class: 'js-group-transfer-form' } do |f|
    .form-group
      = dropdown_tag('Select parent group', options: { toggle_class: 'js-groups-dropdown', title: 'Parent Group', filter: true, dropdown_class: 'dropdown-open-top dropdown-group-transfer', placeholder: 'Search groups', data: { data: parent_group_options(@group) } })
      = hidden_field_tag 'new_parent_group_id'

    %ul
      - side_effects_link_start = '<a href="https://docs.gitlab.com/ee/user/project/index.html#redirects-when-changing-repository-paths" target="_blank">'
      - warning_text = s_("GroupSettings|Be careful. Changing a group's parent can have unintended %{side_effects_link_start}side effects%{side_effects_link_end}.") % { side_effects_link_start: side_effects_link_start, side_effects_link_end:'</a>' }
      %li= warning_text.html_safe
      %li= s_('GroupSettings|You can only transfer the group to a group you manage.')
      %li= s_('GroupSettings|You will need to update your local repositories to point to the new location.')
      %li= s_("GroupSettings|If the parent group's visibility is lower than the group current visibility, visibility levels for subgroups and projects will be changed to match the new parent group's visibility.")
    = f.submit s_('GroupSettings|Transfer group'), class: 'btn gl-button btn-warning'

= render 'groups/settings/remove', group: @group
= render_if_exists 'groups/settings/restore', group: @group
